*{
    text-decoration: none;
    list-style: none;
}
.nav-name a{
    font-size: 18px;
    text-decoration: none;
}
.nav-n{
    font-size: 23px!important;
}
.cap{
    max-width: 600px;
}
.cap{
    max-width: 600px;
}
small a{
    text-decoration: none;
}
footer{
    background-color: #495057;
}
.footer-title{
    color: whitesmoke;
    font-size: 18px;
}
footer p {
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
}
footer ul{
    padding: 0;
    margin-top: 0;
}
footer h4{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.linksz li{
    text-align: center !important;
    display: inline-block;
    margin-right: 5px;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
}
footer a:hover{
    color: rgb(253 228 156);
}
.peg{
    width: 80px;
}
.pin{
    text-align: center;
    align-content: center;
}
footer .earlyc{
    display: block;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.wow{
    background-color: #212529;
    padding: 20px 20px;
    align-items: center;
}
.wow2{
    color: gray;
    font-size: 10px;
    
}
.wow2 ul{
    /* height: 72px; */
    display: flex;
    justify-content: space-between;
    
}
.wow2 p{
    padding-left: 35%;
}

.wow2 a{
    text-decoration: none;
    color: gray;
}
@media (max-width: 768) {
    body{
        margin: 0 20px;
        height: 100vh;
        display: grid;
        align-items: center;
    }
}